extends layout

block content
  .row.pre-catalog
    .h2.text-center TRIF -  Строительство
    .pre-catalog-item.col-sm-8.col-sm-offset-2.text-center
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
  .row.building-feature-1
    .col-sm-8.col-sm-offset-2
      img.img-responsive.center-block(src='/images/building-feature-1.jpg')
      h4.text-left Заголовок или название объекта
        a(href='#').disabled.pull-right-right Подробнее >
        br
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .row.building-feature-2
    .col-sm-8.col-sm-offset-2
      img.img-responsive.center-block(src='/images/building-feature-2.jpg')
      h4.text-left Заголовок или название объекта
        a(href='#').disabled.pull-right-right Подробнее >
        br
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .row.building-feature-3
    .col-sm-8.col-sm-offset-2
      img.img-responsive.center-block(src='/images/building-feature-3.jpg')
      h4.text-left Заголовок или название объекта
        a(href='#').disabled.pull-right-right Подробнее >
        br
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .row.building-feature-4
    .col-sm-8.col-sm-offset-2
      img.img-responsive.center-block(src='/images/building-feature-4.jpg')
      h4.text-left Заголовок или название объекта
        a(href='#').disabled.pull-right-right Подробнее >
        br
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.

