extends layout

block content
  .row.pre-catalog
    .h2.text-center Контакты
  .row.contacts-feature-1
    .col-sm-3.col-sm-offset-2
      h3.text-left TRIF
      br
      p Санкт-Петербург
        br
        br
        | Лахтинский пр., 83, корп. 2
        br
        span(style='text-transform: lowercase;')Телефон
        br
        br
        span(style='font-size:2em;') 8(800)222-0110
        br
        | +7(812)
        span 946-0110
    .col-sm-6.contacts-feature-1-map
      img.img-responsive(src='/images/map.png')
  .row.contacts-all-photo
    img.img-responsive.img(src='/images/contacts-footer.jpg')

    
      


  