extends layout

block content            
      .row.main-img
        img.img-responsive.img(src='/images/main-img.jpg', style='width:100%')
        .main-img-title.center-block.text-center
          h2.text-center 
            | Сайт на разработке
            br 
          h4.text-center 
            | САНКТ-ПЕТЕРБУРГ
            br
            | ЛАХТИНСКИЙ ПР., 83, КОРП. 2
            br
          a(href='#').disabled Подробнее >
          a(href='#').disabled Каталог >
      .row.main-items
        .col-sm-3.col-xs-12.item-1(onclick="window.open('/light','_self')")
          .main-items-title
            h4.text-center 
              | Свет проходит 
              br 
              | сквозь воду и лед
        .col-sm-3.col-xs-12.item-2(onclick="window.open('/material','_self')")
          .main-items-title
            h4.text-center 
              | Материалы 
              br
              | Акция
        .col-sm-3.col-xs-12.item-3(onclick="window.open('/mebel','_self')")
          .main-items-title
            h4.text-center 
              | Мебель
              br
              | Породы дерева
        .col-sm-3.col-xs-12.item-4(onclick="window.open('/building','_self')")
          .main-items-title
            h4.text-center 
              | Строительство
              br
              | Зарубежный опыт
