doctype html
html
  head
    title TRIF
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    //
      Latest compiled and minified CSS & JS 
    link(rel='stylesheet', media='screen', href='//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='//code.jquery.com/jquery.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/ga.js')
    script(src='/javascripts/ya.js')
  body
    nav(role="navigation").navbar.navbar-fixed-top.navbar-default
        .container
          .navbar-header
            button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href="/" ).navbar-brand 
              img.img-responsive(src="/images/logo.png")
          .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav 
              li: a(href="/light") | свет
              li: a(href="/materials") | материалы
              li: a(href="/mebel") | мебель
              li: a(href="/building") | строительство
              li: a(href="/contacts") | контакты
            form(role="search").navbar-form.navbar-right.hidden-sm
              .form-group 
                input(type="text", placeholder="Поиск").form-control
              button(type="submit", style="display:none").btn.btn-default Submit

    block content

    footer.main-footer
      .row
        .container
          .social.col-sm-4.text-center
            i.fa.fa-rss
              span  подписаться
            i.fa.fa-facebook
            i.fa.fa-vk
            i.fa.fa-twitter
            i.fa.fa-instagram
          .col-sm-4
            p.copyright.text-center ООО "ТРИФ". Все права защищены
          .col-sm-4
            p.text-center.phone +7(812)
              span 946-0110

    // yandex metrics
    noscript
      div
        img(src="https://mc.yandex.ru/watch/30405687", style="position:absolute; left:-9999px;", alt='')
    
    #construction-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;





            h4.modal-title Oops!
          .modal-body
            p Сайт находится на разработке!
            br
            | Вы можете посетить разделы из верхнего меню!
            br 
            | Или связаться с нами по телефону +7(812)946-0110 и 8(800)222-0110
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Продолжить
