extends layout

block content
  .row.pre-catalog(style='padding-top:25px;')
    .pre-catalog-item.col-sm-2.col-sm-offset-3.text-center(style='margin-bottom:35px;')
      a(href='/land-catalog')
        img.center-block(src='/images/light-pre-1.png', style='border-radius:50%; width:40%;')
        h5
          strong Ландшафтные светильники
    .pre-catalog-item.col-sm-2.text-center(style='margin-bottom:35px;')
      img.center-block(src='/images/light-pre-2.png', style='border-radius:50%;width:40%;')
      h5 Интерьерные светильники
    .pre-catalog-item.col-sm-2.text-center(style='margin-bottom:35px;')
      img.center-block(src='/images/light-pre-3.png', style='width:40%;')
      h5 прожектора
  .row.light-land-catalog
    .container
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 HARD
        p Выдерживает экстремальные нагрузки.
        h5
          strong 8990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 LUNA S
        p Для монтажа на заборные столбы и поручни.
        h5
          strong 5490 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 LUNA M
        p Идеальное решение для пешеходных зон.
        h5
          strong 6990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 LUNA L
        p Идеальное решение для пешеходных зон.
        h5
          strong 6990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 LUNA XL
        p Идеальное решение для пешеходных зон.
        h5
          strong 7990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 TERRANO L
        p Для ценителей строгих форм и совершенной геометрии. 
        h5
          strong 6990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 TERRANO XL
        p Для ценителей строгих форм и совершенной геометрии.
        h5
          strong 7990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 FIN M
        p Настоящий техно-дизайн. Встроится в любой ландшафт.
        h5
          strong 6990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 FIN L
        p Настоящий техно-дизайн. Встроится в любой ландшафт.
        h5
          strong 7990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 LIBRA M
        p Классика ландшафтного освещения в новой форме.
        h5
          strong 8990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 LIBRA L
        p Классика ландшафтного освещения в новой форме.
        h5
          strong 9990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 LIBRA XL
        p Классика ландшафтного освещения в новой форме.
        h5
          strong 10990 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
      .col-sm-4.land-catalog-item
        img.img-responsive(src='/images/light-feature-3.png')
        h4 TORSO
        p Отличное решение для подсветки периметра территории.
        h5
          strong 5490 
          | руб/шт
        a.btn.btn-lg.btn-default(href='#') КУПИТЬ
  .row.materials-feature-3.text-center(style='margin:25px auto')
    .col-sm-8.col-sm-offset-2.clearfix
      h3 Уникальные параметры
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      br
      br
      img.img-responsive.pull-left(src='/images/materials-feature-3-1.jpg', style='width:49%;margin-bottom:25px;')
      img.img-responsive.pull-right(src='/images/materials-feature-3-2.jpg', style='width:49%; margin-bottom:25px;')
      a.text-center(href='#') Подробнее >
  .row.materials-gallery
    img.img-responsive.center-block(src='/images/light-gallery.jpg')
