extends layout

block content
  .row.pre-catalog
    .h2.text-center TRIF - свет
    .pre-catalog-item.col-sm-2.col-sm-offset-3.text-center
      img.img-responsive.center-block(src='/images/light-pre-1.png', style='border-radius:50%;')
      h4 Ландшафтные светильники
      a(href='/land-catalog').disabled Каталог >
    .pre-catalog-item.col-sm-2.text-center
      img.img-responsive.center-block(src='/images/light-pre-2.png', style='border-radius:50%;')
      h4 Интерьерные светильники
      a(href='#').disabled Каталог >
    .pre-catalog-item.col-sm-2.text-center
      img.img-responsive.center-block(src='/images/light-pre-3.png')
      h4 прожектора
      br
      a(href='#').disabled Каталог >
  .row.light-feature-1
    .col-sm-4.col-sm-offset-2
      h3 Современные
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
    .col-sm-4
      img.img-responsive.center-block(src='/images/light-feature-1.jpg')
  .row.light-feature-2
    .col-sm-4.col-sm-offset-2
      img.img-responsive.center-block(src='/images/light-feature-2.jpg')
    .col-sm-4
      h3 Герметичные
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
  .row.light-feature-3.text-center
    .col-sm-8.col-sm-offset-2
      h3 Элегантные
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.    
      img.img-responsive.center-block(src='/images/light-feature-3.png', style='width:50%;')
  .row.light-feature-4
    .col-sm-4.col-sm-offset-2
      img.img-responsive.center-block(src='/images/light-feature-4.jpg')
    .col-sm-4
      h3 Прочные
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis. 
  .row.light-gallery
    img.img-responsive.center-block(src='/images/light-gallery.jpg')
