extends layout

block content
  .row.pre-catalog
    .h2.text-center TRIF -  материалы
    .pre-catalog-item.col-sm-2.col-sm-offset-2.text-center
      img.img-responsive.center-block(src='/images/materials-pre-1.jpg', style='border-radius:50%;')
      h4 Стеновые материалы
      a(href='#').disabled Каталог >
    .pre-catalog-item.col-sm-2.text-center
      img.img-responsive.center-block(src='/images/materials-pre-2.jpg', style='border-radius:50%;')
      h4 Кровельные материалы
      a(href='#').disabled Каталог >
    .pre-catalog-item.col-sm-2.text-center
      img.img-responsive.center-block(src='/images/materials-pre-3.jpg', style='border-radius:50%;')
      h4 Ландшафтные материалы
      a(href='#').disabled Каталог >
    .pre-catalog-item.col-sm-2.text-center
      img.img-responsive.center-block(src='/images/materials-pre-4.jpg', style='border-radius:50%;')
      h4 Водосточные системы
      a(href='#').disabled Каталог >
  .row.materials-carousel
    #materials-carousel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#materials-carousel', data-slide-to='0')
            li(data-target='#materials-carousel', data-slide-to='1')
          .carousel-inner(role='listbox')
            .item.active
              img(src="/images/materials-carousel.jpg", alt='First slide')
              .carousel-caption
                h3 Название акции 1
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
            .item
              img(src="/images/materials-carousel.jpg", alt='Second slide')
              .carousel-caption
                h3 Название акции 2
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
          a.left.carousel-control(href='#materials-carousel', data-slide='prev')
            span.icon-prev
          a.right.carousel-control(href='#materials-carousel', data-slide='next')
            span.icon-next





  .row.materials-feature-1
    .col-sm-4.col-sm-offset-2
      img.img-responsive.center-block(src='/images/materials-feature-1.jpg')
    .col-sm-4
      h3 Стеновые материалы
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
  .row.materials-feature-2
    .col-sm-4.col-sm-offset-2
      h3 Кровельные материалы
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
    .col-sm-4
      img.img-responsive.center-block(src='/images/materials-feature-2.jpg')
  .row.materials-feature-3.text-center
    .col-sm-8.col-sm-offset-2.clearfix
      h3 Ландшафтные материалы
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.    
      br
      img.img-responsive.pull-left(src='/images/materials-feature-3-1.jpg', style='width:49%;')
      img.img-responsive.pull-right(src='/images/materials-feature-3-2.jpg', style='width:49%;')
  .row.materials-feature-4
    .col-sm-8.col-sm-offset-2.clearfix.text-center
      h3 Водосточные системы
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.    
      br
      //img.img-responsive.pull-left(src='/images/light-feature-4.jpg', style='width:49%;')
      //img.img-responsive.pull-right(src='/images/light-feature-4.jpg', style='width:49%;')
  .row.materials-feature-5(style='margin-bottom:60px;')
    .col-sm-4.col-sm-offset-2
      img.img-responsive.center-block(src='/images/materials-feature-4.jpg')
    .col-sm-4
      h3 Мансардные окна
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
  .row.materials-gallery
    img.img-responsive.center-block(src='/images/light-gallery.jpg')

