extends layout

block content
  .row.pre-catalog
    .h2.text-center TRIF -  мебель
    .pre-catalog-item.col-sm-4.col-sm-offset-2.text-center
      img.img-responsive.center-block(src='/images/mebel-pre-1.jpg')
      h4 Мебель для офиса
      a(href='#').disabled Каталог >
    .pre-catalog-item.col-sm-4.text-center
      img.img-responsive.center-block(src='/images/mebel-pre-2.jpg')
      h4 Мебель для дома
      a(href='#').disabled Каталог >
  
  .row.mebel-feature-1
    .col-sm-4.col-sm-offset-2
      img.img-responsive.center-block(src='/images/mebel-feature-1.png')
      p.text-left.pull-right арт. 343746384763046
        br
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .col-sm-4
      h3 орех
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
      .thumb
        img.img-responsive(src='/images/mebel-feature-1-1.jpg')
        a(href='#').disabled Подробнее >
  .row.mebel-feature-2
    .col-sm-4.col-sm-offset-2
      h3 нержавейка
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
      .thumb
        img.img-responsive(src='/images/mebel-feature-2-2.jpg')
        a(href='#').disabled Подробнее >
    .col-sm-4
      img.img-responsive.center-block(src='/images/mebel-feature-2.jpg')
      p.text-left.pull-right арт. 343746384763046
        br
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .row.mebel-feature-3
    .col-sm-4.col-sm-offset-2
      img.img-responsive.center-block(src='/images/mebel-feature-3.png')
      p.text-left.pull-right арт. 343746384763046
        br
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .col-sm-4
      h3 дуб
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
      .thumb
        img.img-responsive(src='/images/mebel-feature-3-3.jpg')
        a(href='#').disabled Подробнее >
  .row.mebel-feature-4
    .col-sm-4.col-sm-offset-2
      h3 береза
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. vitae tristique. Quisque vel purus tempor, tincidunt tellus ut, blandit lacus. Mauris a arcu placerat, semper felis non, iaculis turpis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida mattis mi vitae tristique.
      .thumb
        img.img-responsive(src='/images/mebel-feature-4-4.jpg')
        a(href='#').disabled Подробнее >
    .col-sm-4
      img.img-responsive.center-block(src='/images/mebel-feature-4.jpg')
      p.text-left.pull-right арт. 343746384763046
        br
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .row.mebel-gallery
    img.img-responsive.center-block(src='/images/light-gallery.jpg')

