@font-face {
  font-family: Circe;
  src: url("circe-light.ttf");
}
body {
  font-family: Circe !important;
  text-transform: uppercase;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.navbar {
  border: 0 !important;
  background-color: #f1f4f4 !important;
  opacity: 0.9 !important;
}
.navbar-brand img {
  height: 80%;
}
.main-img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.main-img-title {
  position: absolute;
  top: 6em;
  left:0;
  right:0;
  background: transparent;
  color: #fff;
}
.main-img-title a {
  margin: 0 15px;
  color: #fff;
}
.main-items {
  margin-left: 0 !important;
  margin-right: 0 !important;
  cursor: pointer;
}
.main-items>div {
  outline: 2px solid #fff;
  min-height: 250px;
}
.main-items-title {
  position: relative;
  top: 2em;
}
.item-2,
.item-4 {
  color: #fff;
}
.item-1,
.item-3 {
  color: #333;
}
.main-items .item-1 {
  background: url("../images/item1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-items .item-2 {
  background: url("../images/item2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-items .item-3 {
  background: url("../images/item3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-items .item-4 {
  background: url("../images/item4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-footer {
  background-color: #bdc3c7;
  line-height: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-footer .row {
  margin-left: 0;
  margin-right: 0;
}
.main-footer span {
  font-size: 0.8em;
}
.main-footer i {
  margin-right: 10px;
}
.main-footer .copyright {
  margin-bottom: 0;
  font-size: 0.8em;
}
.main-footer .phone {
  margin-bottom: 0;
}
.main-footer .phone span {
  font-size: 2em;
}
.pre-catalog {
  margin-top: 60px;
}
.pre-catalog-item {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}
.light-feature-1,
.light-feature-3 {
  background-color: #f1f4f4;
}
.light-feature-4 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.materials-carousel .carousel-caption {
  top: 0;
}
.materials-carousel img {
  width: 100%;
  opacity: 0.9;
}
.materials-feature-1,
.materials-feature-3,
.materials-feature-5 {
  margin-top: 60px;
}
.materials-feature-2,
.materials-feature-4 {
  background-color: #f1f4f4;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.mebel-feature-1,
.mebel-feature-3 {
  background-color: #f1f4f4;
  padding-top: 60px;
  padding-bottom: 60px;
}
.mebel-feature-2,
.mebel-feature-4 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.mebel-feature-1 .thumb img,
.mebel-feature-2 .thumb img,
.mebel-feature-3 .thumb img,
.mebel-feature-4 .thumb img {
  display: inline-block;
}
.mebel-feature-1 a,
.mebel-feature-2 a,
.mebel-feature-3 a,
.mebel-feature-4 a {
  position: absolute;
}
.mebel-feature-1 p,
.mebel-feature-2 p,
.mebel-feature-3 p,
.mebel-feature-4 p {
  font-size: 0.3em;
  width: 50%;
}
.thumb {
  margin-top: 1em;
}
.thumb a {
  margin-left: 1em;
}
.building-feature-1,
.building-feature-2,
.building-feature-3,
.building-feature-4 {
  margin-bottom: 60px;
}
.building-feature-1 a,
.building-feature-2 a,
.building-feature-3 a,
.building-feature-4 a {
  position: absolute;
  right: 1em;
  font-size: 0.7em;
}
.contacts-feature-1 span:last-child {
  font-size: 2em;
}
.contacts-feature-1-map {
  min-height: 300px !important;
}
.contacts-all-photo {
  margin-top: 60px;
  min-height: 200px;
}
.contacts-all-photo img {
  width:100%;
}

.light-land-catalog {
  background-color: rgba(241,244,244,1);
  padding-bottom:60px;
}
.land-catalog-item {
  margin-top: 95px;
  padding-left:55px !important;
  padding-right:75px !important;
}
.land-catalog-item h5 strong {
  font-size: 2em;
}
.land-catalog-item a.btn-lg {
  padding-left:45px;
  padding-right:45px;
}
